.full{
    background-color: hsl(217, 54%, 11%);
}
.main_box{
    width: 300px;
    height: 570px;
    background-color: hsl(216, 50%, 16%);
    position:center;
    border-radius: 18px;
    box-shadow: 0px 0px 15px black;
    padding: 30px;
    margin: auto;
    margin-top: 5ch;
    
    
}
.inside{
    width: 100%;
    margin-left:-1ch;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.heading{
    width: fit-content;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin: 0;
    margin-left: -11ch;
    text-align: left;
}
.para{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    margin-top: 3ch;
    text-align: left;
    font-weight: 20;
}
.leftwala{
    float: left;
    margin-top: 2ch;
    font-size: 12px;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 10;
}
.rightwala{
    float: right;
    margin-top: 2ch;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 10;
}
.line{
    margin-top: 10ch;
    width: 100%;
    height: 1px;
    background-color: hsl(215, 74%, 41%);
}
.downwala1{
    float: left;
    margin-top: -14%;
    font-size: 16px;
    margin-left: 8ch;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}
.downwala2{
    float: left;
    margin-top: -14%;
    font-size: 16px;
    margin-left: 17.5ch;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}
.person{
    width: 60px;
    margin-top: 2ch;
    margin-right: 100%;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%) ;
}
.downwala2:hover, .heading:hover{
    
    color: hsl(178, 100%, 50%);
}

.inside{
    opacity: 1;
}
.inside:hover{
    opacity: 0.5;
    
}